{% extends "./index.html" %}
{% load static %}
{% load bootstrap4 %}
{% load auth_extras %}
<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/fonts/circular-std/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/libs/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/fonts/fontawesome/css/fontawesome-all.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/charts/chartist-bundle/chartist.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/charts/morris-bundle/morris.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/fonts/material-design-iconic-font/css/materialdesignicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/charts/c3charts/c3.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/fonts/flag-icon-css/flag-icon.min.css' %}">
    <title>Edición de Formulario</title>
</head>
{% block body %}
<body>
  <div class="card">
    <h5 class="card-header">Formulario de Registro</h5>
    <div class="card-body">
      <form method="post">
        {% csrf_token %}
        <!-- {{ form.as_p }} -->


        <div class="form-group">
          <label for="{{ form.nombres.id_for_label }}" class="col-form-label">Nombres:</label>
          <input id="{{ form.nombres.id_for_label }}" type="text" class="form-control" name="nombres" value="{{ form.nombres.value }}" required>
        </div>

        <div class="form-group">
          <label for="{{ form.apellidos.id_for_label }}" class="col-form-label">Apellidos:</label>
        <input type="text" id="{{ form.apellidos.id_for_label }}" class="form-control" id="nombres" name="apellidos" value="{{ form.apellidos.value }}" required>
        </div>

        <div class="form-group">
          <label for="{{ form.fecha_nacimiento.id_for_label }}" class="col-form-label">Fecha de Nacimiento:</label>
          <input id="{{ form.fecha_nacimiento.id_for_label }}" type="date" class="form-control" name="fecha_nacimiento" value="{{ form.fecha_nacimiento.value }}" required>
        </div>

        <div class="form-group">
          <label for="{{ form.genero.id_for_label }}" class="col-form-label">Género:</label>
          <select id="{{ form.genero.id_for_label }}" class="form-control" name="genero" value="{{ form.genero.value }}">
            <option value="masculino">Masculino</option>
            <option value="femenino">Femenino</option>
            <option value="otro">Otro</option>
          </select>
        </div>

        <div class="form-group">
          <label for="{{ form.cedula.id_for_label }}" class="col-form-label">Número de Cédula:</label>
          <input id="{{ form.cedula.id_for_label }}" type="number" class="form-control" name="cedula" value="{{ form.cedula.value }}" required>
        </div>

        <div class="form-group">
          <label for="{{ form.celular.id_for_label }}" class="col-form-label">Celular:</label>
          <input id="{{ form.celular.id_for_label }}" type="text" class="form-control" name="celular" value="{{ form.celular.value }}" required>
        </div>


        <div class="form-group">
          <label for="{{ form.email.id_for_label }}" class="col-form-label">Email:</label>
          <input id="{{ form.email.id_for_label }}" type="email" class="form-control" name="email" value="{{ form.email.value }}" required>
        </div>

        <div class="form-group">
          <label for="{{ form.zona.id_for_label }}" class="col-form-label">Zona:</label>
          <select id="{{ form.zona.id_for_label }}" class="form-control" name="zona" value="{{ form.zona.value }}">
            <option value="urbana">Urbana</option>
            <option value="rural">Rural</option>
          </select>
        </div>  

        <div class="form-group">
          <label for="{{ form.direccion.id_for_label }}" class="col-form-label">Direccion:</label>
          <input id="{{ form.direccion.id_for_label }}" type="text" class="form-control" name="direccion" value="{{ form.direccion.value }}" required>
        </div>

        <div class="form-group">
          <label for="{{ form.barrio.id_for_label }}" class="col-form-label">Barrio / Vereda:</label>
          <input id="{{ form.barrio.id_for_label }}" type="text" class="form-control" name="barrio" value="{{ form.barrio.value }}" required>
        </div>

        <div class="form-group">
          <label for="{{ form.escolaridad.id_for_label }}" class="col-form-label">Nivel de Escolaridad:</label>
          <select id="{{ form.escolaridad.id_for_label }}" class="form-control" name="escolaridad" value="{{ form.barrio.value }}" required>
            <option value="primaria">Primaria</option>
            <option value="secundaria">Secundaria</option>
            <option value="universitaria">Universitaria</option>
          </select>
        </div>

        <div class="form-group">
          <label for="{{ form.ocupacion.id_for_label }}" class="col-form-label">Ocupación:</label>
          <input id="{{ form.ocupacion.id_for_label }}" type="text" class="form-control" name="ocupacion" value="{{ form.ocupacion.value }}" required>
        </div>

        <div class="form-group">
          <label for="{{ form.tipo_recoleccion.id_for_label }}" class="col-form-label">Tipo Recolección:</label>
          <select id="{{ form.tipo_recoleccion.id_for_label }}"  class="form-control"name="tipo_recoleccion" value="{{ form.tipo_recoleccion.value }}" required>
            <option value="presencial">Presencial</option>
            <option value="virtual">Virtual</option>
          </select>
        </div>

        <div class="form-group">
          <label for="{{ form.ciudad_votacion.id_for_label }}" class="col-form-label">Ciudad Última Votación:</label>
          <input id="{{ form.ciudad_votacion.id_for_label }}" type="text" class="form-control" name="ciudad_votacion" value="{{ form.ciudad_votacion.value }}" required>
        </div>
        





        {% if user.is_authenticated and user|has_group:"Editar" %}

              <div class="form-group">
                <label for="puesto" class="col-form-label">Puesto:</label>
                <input id="puesto" type="text" class="form-control" name="puesto" required>
              </div>

              <div class="form-group">
                <label for="mesa" class="col-form-label">Mesa:</label>
                <input id="mesa" type="text" class="form-control" name="mesa" required>
              </div>
              {% endif %}
        <button type="submit" class="btn btn-primary">Guardar</button>
      </form>
    </div>
  </div>

</body>
<br><br>


{% endblock %}