{% load bootstrap4 %}

<h1>Confirmar eliminación de encuesta</h1>

<p>¿Estás seguro de que deseas eliminar la siguiente encuesta?</p>

<p><strong>ID:</strong> {{ encuesta.id }}</p>
<p><strong>Nombres:</strong> {{ encuesta.nombres }}</p>
<p><strong>Apellidos:</strong> {{ encuesta.apellidos }}</p>
<!-- Agrega aquí más campos de la encuesta que desees mostrar -->

<form method="post">
{% csrf_token %}
<button class="btn btn-danger" type="submit">Eliminar</button>
<a href="{{URL_BACKEND}}/encuesta_list/ " class="btn btn-secondary">Cancelar</a>
</form>

<a href="{{URL_BACKEND}}/encuesta_list/" class="btn btn-primary">Inicio</a> 
