{% extends "./index.html" %}
{% load static %}
{% load auth_extras %}
{% block body %}
<!DOCTYPE html>
<html>
<head>
  <title>Formulario de Registro</title>
</head>
<body>
  <div class="card">
    <h5 class="card-header">Formulario de Registro</h1>
    <div class="card-body">
      <form action="/registro/" method="post">
        {% csrf_token %}

        <div class="form-group">
          <label for="nombres" class="col-form-label">Nombres:</label>
          <input id="nombres" type="text" class="form-control" name="nombres" required>
        </div>
        <div class="form-group">
          <label for="apellidos" class="col-form-label">Apellidos:</label>
        <input type="text" id="apellidos" class="form-control" id="nombres" name="apellidos" required>
        </div>

        <div class="form-group">
          <label for="fecha_nacimiento" class="col-form-label">Fecha de Nacimiento:</label>
          <input id="fecha_nacimiento" type="date" class="form-control" name="fecha_nacimiento" required>
        </div>

        <div class="form-group">
          <label for="genero" class="col-form-label">Género:</label>
          <select id="genero" class="form-control" name="genero">
            <option value="masculino">Masculino</option>
            <option value="femenino">Femenino</option>
            <option value="otro">Otro</option>
          </select>
        </div>

        <div class="form-group">
          <label for="cedula" class="col-form-label">Número de Cédula:</label>
          <input id="cedula" type="number" class="form-control" name="cedula" required>
        </div>

        <div class="form-group">
          <label for="celular" class="col-form-label">Celular:</label>
          <input id="celular" type="number" class="form-control" name="celular" required>
        </div>


        <div class="form-group">
          <label for="email" class="col-form-label">Email:</label>
          <input id="email" type="email" class="form-control" name="email" required>
        </div>

        <div class="form-group">
          <label for="zona" class="col-form-label">Zona:</label>
          <select id="zona" class="form-control" name="zona">
            <option value="urbana">Urbana</option>
            <option value="rural">Rural</option>
          </select>
        </div>  

        <div class="form-group">
          <label for="direccion" class="col-form-label">Direccion:</label>
          <input id="direccion" type="text" class="form-control" name="direccion" required>
        </div>

        <div class="form-group">
          <label for="barrio" class="col-form-label">Barrio / Vereda:</label>
          <input id="barrio" type="text" class="form-control" name="barrio" required>
        </div>

        <div class="form-group">
          <label for="escolaridad" class="col-form-label">Nivel de Escolaridad:</label>
          <select id="escolaridad" class="form-control" name="escolaridad">
            <option value="primaria">Primaria</option>
            <option value="secundaria">Secundaria</option>
            <option value="universitaria">Universitaria</option>
          </select>
        </div><br>

        <div class="form-group">
          <label for="ocupacion" class="col-form-label">Ocupación:</label>
          <input id="ocupacion" type="text" class="form-control" name="ocupacion" required>
        </div>

        <div class="form-group">
          <label for="tipo_recoleccion" class="col-form-label">Tipo Recolección:</label>
          <select id="tipo_recoleccion"  class="form-control"name="tipo_recoleccion">
            <option value="presencial">Presencial</option>
            <option value="virtual">Virtual</option>
          </select>
        </div>

        <div class="form-group">
          <label for="ciudad_votacion" class="col-form-label">Ciudad Última Votación:</label>
          <input id="ciudad_votacion" type="text" class="form-control" name="ciudad_votacion" required>
        </div>
        <div style="text-align: center;">
        <button type="submit" class="btn btn-space btn-primary">Registrar</button>
        <button class="btn btn-space btn-primary" onclick="reloadPage()">Cancelar</button>
      </div>
      </form>
    </div>
  </div>



<script src="{% static 'assets/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.js' %}"></script>
<script src="{% static 'assets/vendor/slimscroll/jquery.slimscroll.js' %}"></script>
<script src="{% static 'assets/vendor/multi-select/js/jquery.multi-select.js' %}"></script>
<script src="{% static 'assets/libs/js/main-js.js' %}"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="{% static 'assets/vendor/datatables/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>
<script src="{% static 'assets/vendor/datatables/js/buttons.bootstrap4.min.js' %}"></script>
<script src="{% static 'assets/vendor/datatables/js/data-table.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.print.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.colVis.min.js"></script>
<script src="https://cdn.datatables.net/rowgroup/1.0.4/js/dataTables.rowGroup.min.js"></script>
<script src="https://cdn.datatables.net/select/1.2.7/js/dataTables.select.min.js"></script>
<script src="https://cdn.datatables.net/fixedheader/3.1.5/js/dataTables.fixedHeader.min.js"></script>
</body>
</html>
<script>
  function reloadPage() {
    location.reload();
  }
</script>
{% endblock %}